* {
  box-sizing: border-box;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

header {
  width: 25%;
  padding: 1rem;
}

.drums-header {
  /* margin-top: 2rem; */
  text-align: center;
}

.drums-description {
  font-size: 1rem;
  text-transform: uppercase;
}

.drums-container {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #E6E8BF;
  display: flex;
  background-color: #2F2E3E;
  margin: 0;
}

.drum-machine {
  width: 75%;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  background-color: #2F2E3E;
}

.pad {
  transition: all .07s ease;
  color: #2F2E3E;
  width: calc(25% - 0.5rem);
  min-width: calc(150px - 0.5rem);
  /* max-width: 300px; */
  /* border: 3px solid black; */
  /* margin-bottom: 0.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.key {
  font-size: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.instrument {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.pad:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.played {
  transform: scale(0.9);
  border: 6px solid #DDDA00;
}

.A, .S, .D, .F {
  background-color: #DD1D00;
}

.Z, .X, .C, .V {
  background-color: #F27900;
}

@media screen and (max-width: 577px) {
  .drums-description {
    transform: rotate(-90deg);
    width: 30rem;
    position: relative;
    right: 13rem;
    top: 13rem;
  }

  .pad {
    min-width: calc(120px - 0.5rem);
  }

  .key {
    font-size: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .instrument {
    font-size: 1rem;
    text-transform: uppercase;
  }
}
